.patient-checkup-component {
    h4 {
        margin-top: 0px;
    }
    .field-doctor-name {
        margin-top: 15px;
    }
    .field-delete {
        line-height: 60px;
        padding-top: 10px;
    }
    .field-before-meal {
        line-height: 60px;
    }
}