<div class="patient-checkup-component">
    <ul class="breadcrumb">
        <li><a class="atag" routerLink="/app/patient/list">Patients</a>
            <mat-icon>chevron_right</mat-icon>
        </li>
        <li><a class="atag" routerLink="/app/patient/report/{{patientId}}">Report</a>
            <mat-icon>chevron_right</mat-icon>
        </li>
        <li>
            <p>{{diagnosisName}}</p>
        </li>
    </ul>
    <button mat-raised-button class="float-right mat-primary" routerLink="/app/patient/checkup/{{patientId}}/new">New Checkup</button>
    <p class="clearfix"></p>
    <form (ngSubmit)="onSubmit()">
        <h4>Checkup</h4>
        <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
            <mat-select placeholder="Doctor" class="field-doctor-name" fxFlex="33%" [(ngModel)]="checkup.doctorName" name="doctorName">
                <mat-option *ngFor="let doctor of doctorList" [value]="doctor.value">
                    {{ doctor.viewValue }}
                </mat-option>
            </mat-select>
            <mat-form-field fxFlex="33%">
                <input matInput [matDatepicker]="picker" placeholder="Checkup Date" [(ngModel)]="checkup.checkupDate" name="checkupDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
            <mat-input-container fxFlex="33%">
                <textarea matInput placeholder="Symptoms" [(ngModel)]="checkup.symptoms" name="symptoms"></textarea>
            </mat-input-container>
            <mat-input-container fxFlex="33%">
                <textarea matInput placeholder="Diagnosis" [(ngModel)]="checkup.diagnosis" name="diagnosis"></textarea>
            </mat-input-container>
        </div>
        <h4>Prescription</h4>
        <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
            <div fxFlex="50px">#</div>
            <div fxFlex="20%">Medicine</div>
            <div fxFlex="20%">No.of Days</div>
            <div fxFlex="20%">When to take</div>
            <div fxFlex="150px">Before Meal?</div>
            <div fxFlex="150px">Delete</div>
        </div>
        <div fxLayout fxLayout.xs="column" fxLayoutGap="10px" *ngFor="let item of checkup.prescription; let key = index">
            <div fxFlex="50px" class="no">{{key + 1}}</div>
            <mat-input-container fxFlex="20%">
                <input matInput [(ngModel)]="item.medicine" [ngModelOptions]="{standalone: true}">
            </mat-input-container>
            <mat-input-container fxFlex="20%">
                <input matInput [(ngModel)]="item.noOfDays" [ngModelOptions]="{standalone: true}">
            </mat-input-container>
            <mat-select class="field-when-to-take" fxFlex="20%" [(ngModel)]="item.whenToTake" [ngModelOptions]="{standalone: true}">
                <mat-option *ngFor="let take of whenToTakeList" [value]="take.value">
                    {{ take.viewValue }}
                </mat-option>
            </mat-select>
            <div fxFlex="150px" class="field-before-meal">
                <mat-checkbox [(ngModel)]="item.beforeMeal" [ngModelOptions]="{standalone: true}"></mat-checkbox>
            </div>
            <div fxFlex="150px" class="field-delete">
                <a class="atag" title="Delete Medicine" (click)="deleteMedicine(key)">
                    <mat-icon>delete_forever</mat-icon>
                </a>
            </div>
        </div>
        <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
            <div fxFlex="60%">
            </div>
            <div fxFlex="230px">
                <a mat-raised-button class="float-right mat-info" (click)="addMedicine()">New Medicine</a>
            </div>
        </div>
        <h4>ExtraNotes</h4>
        <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
            <mat-input-container fxFlex="100%">
                <textarea matInput placeholder="Extra Notes" [(ngModel)]="checkup.extraNotes" name="extraNotes"></textarea>
            </mat-input-container>
        </div>
        <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
            <div fxFlex="67%"></div>
            <div fxFlex="33%" class="text-right">
                <a mat-raised-button routerLink="/app/patient/report/{{patientId}}">Cancel</a>
                <button mat-raised-button class="mat-primary" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>