<div class="patient-checkup-component">
    <ul class="breadcrumb">
        <li><a class="atag" routerLink="/app/patient/list">Patients</a>
            <mat-icon>chevron_right</mat-icon>
        </li>
        <li><a class="atag" routerLink="/app/patient/report/{{patientId}}">Report</a>
            <mat-icon>chevron_right</mat-icon>
        </li>
        <li>
            <p>{{diagnosisName}}</p>
        </li>
    </ul>
    <p class="clearfix"></p>
    <form (ngSubmit)="onSubmit()" [formGroup]="checkupForm">
        <h4>Checkup</h4>
        <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
            <mat-form-field fxFlex="33%">
                <mat-select placeholder="Doctor" formControlName="doctorId" required>
                    <mat-option *ngFor="let doctor of doctorList" [value]="doctor.value">
                        {{ doctor.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="33%">
                <input matInput [matDatepicker]="picker" placeholder="Checkup Date" formControlName="checkupDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div *ngIf="checkupForm.controls['doctorId'].invalid && (checkupForm.controls['doctorId'].dirty || checkupForm.controls['doctorId'].touched || formSubmitAttempt)"
            class="alert-danger">
            <div *ngIf="checkupForm.controls['doctorId'].errors.required">
                Doctor is required
            </div>
        </div>
        <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
            <mat-input-container fxFlex="33%">
                <textarea matInput placeholder="Symptoms" formControlName="symptoms"></textarea>
            </mat-input-container>
            <mat-input-container fxFlex="33%">
                <textarea matInput placeholder="Diagnosis" formControlName="diagnosis"></textarea>
            </mat-input-container>
        </div>
        <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
            <div fxFlex="33%" *ngIf="checkupForm.controls['symptoms'].invalid && (checkupForm.controls['symptoms'].dirty || checkupForm.controls['symptoms'].touched || formSubmitAttempt)"
                class="alert-danger">
                <div *ngIf="checkupForm.controls['symptoms'].errors.required">
                    Symptoms is required
                </div>
            </div>
            <div fxFlex="33%" *ngIf="checkupForm.controls['diagnosis'].invalid && (checkupForm.controls['diagnosis'].dirty || checkupForm.controls['diagnosis'].touched || formSubmitAttempt)"
                class="alert-danger">
                <div *ngIf="checkupForm.controls['diagnosis'].errors.required">
                    Diagnosis is required
                </div>
            </div>
        </div>
        <h4>Prescription</h4>
        <div fxLayout fxLayout.xs="column" fxLayoutGap="10px" class="prescription-header">
            <div fxFlex="50px">#</div>
            <div fxFlex="20%">Medicine</div>
            <div fxFlex="20%">No.of Days</div>
            <div fxFlex="20%">When to take</div>
            <div fxFlex="100px" class="text-center">Before Meal?</div>
            <div fxFlex="100px" class="text-center">Delete</div>
        </div>
        <div formArrayName="prescription">
            <div fxLayout fxLayout.xs="column" fxLayoutGap="10px" *ngFor="let item of checkupForm.get('prescription').controls; let key = index;"
                [formGroupName]="key">
                <div fxFlex="50px" class="no">{{key + 1}}</div>
                <mat-form-field fxFlex="20%">
                    <mat-select formControlName="stockId" name="stockId">
                        <mat-option *ngFor="let item of medicineList" [value]="item._id">
                            {{ item.name }} <span *ngIf="item.qty">({{item.qty}})</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-input-container fxFlex="20%">
                    <input matInput formControlName="noOfDays">
                </mat-input-container>
                <mat-form-field fxFlex="20%">
                    <mat-select class="field-when-to-take" formControlName="whenToTake" name="whenToTake">
                        <mat-option *ngFor="let take of whenToTakeList" [value]="take.value">
                            {{ take.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div fxFlex="100px" class="field-before-meal text-center">
                    <mat-checkbox formControlName="beforeMeal"></mat-checkbox>
                </div>
                <div fxFlex="100px" class="field-delete text-center">
                    <a class="atag" title="Delete Medicine" (click)="deletePrescriptions(key)">
                        <mat-icon>delete_forever</mat-icon>
                    </a>
                </div>
            </div>
        </div>
        <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
            <div fxFlex="60%">
            </div>
            <div fxFlex="230px">
                <a class="float-right mat-info atag new-medicine" (click)="addPrescriptions(defaultPrescription)"><i class="material-icons">add_box</i><span>New Medicine</span></a>
            </div>
        </div>
        <h4>ExtraNotes</h4>
        <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
            <mat-input-container fxFlex="100%">
                <textarea matInput placeholder="Extra Notes" formControlName="extraNotes"></textarea>
            </mat-input-container>
        </div>
        <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
            <div fxFlex="67%"></div>
            <div fxFlex="33%" class="text-right">
                <a mat-raised-button (click)="goToState('/app/patient/report/' + patientId)">Cancel</a>
                <button mat-raised-button class="mat-primary" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>