<div class="stock-details-component">
    <div>
        <ul class="breadcrumb">
            <li><a class="atag" routerLink="/app/medicine/stock/list">Stocks</a>
                <mat-icon>chevron_right</mat-icon>
            </li>
            <li>
                <p>{{ stockName }}</p>
            </li>
        </ul>
        <div class="float-right">
            <button mat-raised-button class="mat-primary" (click)="deleteConfirm()" *ngIf="stockForm.value._id">Delete</button>
        </div>
        <p class="clearfix"></p>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="stockForm">
        <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
            <div fxFlex="150px">
                <div class="stock-img">
                    <mat-icon>local_pharmacy</mat-icon>
                </div>
                <div class="field-status">
                    <p><b>Status</b></p>
                    <mat-slide-toggle formControlName="status" required>
                    </mat-slide-toggle>
                </div>
            </div>
            <div fxFlex="100%">

                <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
                    <div fxFlex="33%">
                        <mat-input-container class="width-100">
                            <input type="text" matInput placeholder="Name" formControlName="name" required>
                        </mat-input-container>
                        <div *ngIf="stockForm.controls['name'].invalid && (stockForm.controls['name'].dirty || stockForm.controls['name'].touched || formSubmitAttempt)"
                            class="alert-danger">
                            <div *ngIf="stockForm.controls['name'].errors.required">
                                Name is required
                            </div>
                        </div>
                    </div>
                    <div fxFlex="33%">
                        <mat-form-field class="width-100">
                            <mat-select placeholder="Category" formControlName="category" name="category">
                                <mat-option *ngFor="let item of categoryList" [value]="item._id">
                                    {{ item.name }} <span *ngIf="item.qty">({{item.qty}})</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div *ngIf="stockForm.controls['category'].invalid && (stockForm.controls['category'].dirty || stockForm.controls['category'].touched || formSubmitAttempt)"
                            class="alert-danger">
                            <div *ngIf="stockForm.controls['category'].errors.required">
                                Category is required
                            </div>
                        </div>
                    </div>
                    <mat-input-container fxFlex="33%">
                        <input type="text" matInput placeholder="Price" formControlName="price">
                    </mat-input-container>
                </div>
                <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
                    <mat-input-container fxFlex="33%">
                        <input type="number" matInput placeholder="Quantity" formControlName="qty">
                    </mat-input-container>
                    <mat-input-container fxFlex="33%">
                        <input type="text" matInput placeholder="Generic Name" formControlName="genericName">
                    </mat-input-container>
                    <mat-input-container fxFlex="33%">
                        <input type="text" matInput placeholder="Company" formControlName="company">
                    </mat-input-container>
                </div>
                <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
                    <mat-input-container fxFlex="100%">
                        <textarea matInput placeholder="Description" formControlName="description"></textarea>
                    </mat-input-container>
                </div>
                <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
                    <mat-input-container fxFlex="33%">
                        <input type="text" matInput placeholder="Effects" formControlName="effects">
                    </mat-input-container>
                    <div fxFlex="33%">
                        <mat-form-field class="width-100">
                            <input matInput [matDatepicker]="picker" placeholder="Expire date" formControlName="expireDate" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <div *ngIf="stockForm.controls['expireDate'].invalid && (stockForm.controls['expireDate'].dirty || stockForm.controls['expireDate'].touched || formSubmitAttempt)"
                            class="alert-danger">
                            <div *ngIf="stockForm.controls['expireDate'].errors.required">
                                Category is required
                            </div>
                        </div>
                    </div>
                </div>
                <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
                    <div fxFlex="67%"></div>
                    <div fxFlex="33%" class="text-right">
                        <a mat-raised-button (click)="goToState('/app/medicine/stock/list')">Cancel</a>
                        <button mat-raised-button class="mat-primary" type="submit">Save</button>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>