<div class="login-component">
    <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
        <div fxFlex="50%">
        </div>
        <div fxFlex="400px">
            <div class="login-panel">
                <md-card>
                    <img src="./../../assets/images/hm-logo.svg" class="branding" title="Hospial Management" />
                    <h2>Login</h2>
                    <p>to use your hospital Management account</p>
                    <form (ngSubmit)="onSubmit()">
                        <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
                            <md-input-container fxFlex="100%">
                                <input type="text" mdInput placeholder="Email" [(ngModel)]="user.email" name="email">
                            </md-input-container>
                        </div>
                        <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
                            <md-input-container fxFlex="100%">
                                <input type="password" mdInput placeholder="Password" [(ngModel)]="user.password" name="password">
                            </md-input-container>
                        </div>
                        <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
                            <div fxFlex="33%"></div>
                            <div fxFlex="67%" class="text-right">
                                <button md-raised-button class="mat-primary" type="submit" routerLink="/app/dashboard">Login</button>
                            </div>
                        </div>
                    </form>
                </md-card>
            </div>
        </div>
        <div fxFlex="50%">
        </div>
    </div>

</div>