<div class="category-details-component">
    <div>
        <ul class="breadcrumb">
            <li><a class="atag" routerLink="/app/medicine/category/list">Categories</a>
                <md-icon>chevron_right</md-icon>
            </li>
            <li>
                <p>{{ categoryName }}</p>
            </li>
        </ul>
        <div class="float-right">
            <button md-raised-button (click)="deleteConfirm()" *ngIf="category._id">Delete</button>
            <button md-raised-button class="mat-primary" routerLink="/app/medicine/category/details/new">New Categroy</button>
        </div>
        <p class="clearfix"></p>
    </div>
    <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
        <div fxFlex="150px">
            <div class="category-img">
                <md-icon>local_offer</md-icon>
            </div>
            <div class="field-status">
                <p><b>Status</b></p>
                <md-slide-toggle [(ngModel)]="category.status">
                </md-slide-toggle>
            </div>
        </div>
        <div fxFlex="100%">
            <form (ngSubmit)="onSubmit()">
                <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
                    <md-input-container fxFlex="33%">
                        <input type="text" mdInput placeholder="Name" [(ngModel)]="category.name" name="name">
                    </md-input-container>
                </div>
                <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
                    <md-input-container fxFlex="100%">
                        <textarea mdInput placeholder="Description" [(ngModel)]="category.description" name="description"></textarea>
                    </md-input-container>
                </div>
                <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
                    <div fxFlex="67%"></div>
                    <div fxFlex="33%" class="text-right">
                        <a md-raised-button routerLink="/app/medicine/category/list">Cancel</a>
                        <button md-raised-button class="mat-primary" type="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>