<div class="doctor-details-component">
    <div>
        <ul class="breadcrumb">
            <li><a class="atag" routerLink="/app/doctor/list">Doctors</a>
                <mat-icon>chevron_right</mat-icon>
            </li>
            <li>
                <p>{{doctorName}}</p>
            </li>
        </ul>
        <div class="float-right">
            <button mat-raised-button class="mat-primary" (click)="deleteConfirm()" *ngIf="doctorForm.value._id">Delete</button>
        </div>
        <p class="clearfix"></p>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="doctorForm">
        <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
            <div fxFlex="150px">
                <div class="profile-user-img">
                    <mat-icon>account_box</mat-icon>
                </div>
                <div class="field-status">
                    <p><b>Status</b></p>
                    <mat-slide-toggle formControlName="status">
                    </mat-slide-toggle>
                </div>
            </div>
            <div fxFlex="100%">
                <div fxLayout fxLayout.xs="column" fxLayoutGap="10px" formGroupName="name">
                    <div fxFlex="33%">
                        <mat-input-container class="width-100">
                            <input type="text" matInput placeholder="First Name" formControlName="first" name="first" required>
                        </mat-input-container>
                        <div *ngIf="doctorForm.controls['name'].controls['first'].invalid && (doctorForm.controls['name'].controls['first'].dirty || doctorForm.controls['name'].controls['first'].touched || formSubmitAttempt)"
                            class="alert-danger">
                            <div *ngIf="doctorForm.controls['name'].controls['first'].errors.required">
                                First name is required
                            </div>
                        </div>
                    </div>
                    <mat-input-container fxFlex="33%">
                        <input matInput placeholder="Middle Name" formControlName="middle">
                    </mat-input-container>
                    <mat-input-container fxFlex="33%">
                        <input matInput placeholder="Last Name" formControlName="last">
                    </mat-input-container>
                </div>
                <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
                    <div fxFlex="33%">
                        <mat-input-container class="width-100">
                            <input matInput placeholder="Email" formControlName="email" required>
                        </mat-input-container>
                        <div *ngIf="doctorForm.controls['email'].invalid && (doctorForm.controls['email'].dirty || doctorForm.controls['email'].touched || formSubmitAttempt)"
                            class="alert-danger">
                            <div *ngIf="doctorForm.controls['email'].errors.required">
                                Email is required
                            </div>
                        </div>
                    </div>
                    <div fxFlex="33%">
                        <mat-form-field class="width-100">
                            <mat-select placeholder="Gender" class="field-gender width-100" formControlName="gender" required>
                                <mat-option *ngFor="let list of genderList" [value]="list.value">
                                    {{ list.viewValue }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div *ngIf="doctorForm.controls['gender'].invalid && (doctorForm.controls['gender'].dirty || doctorForm.controls['mobileNumber'].touched || formSubmitAttempt)"
                            class="alert-danger">
                            <div *ngIf="doctorForm.controls['gender'].errors.required">
                                Gender is required
                            </div>
                        </div>
                    </div>
                    <div fxFlex="33%">
                        <mat-input-container class="width-100">
                            <span matPrefix>+91 &nbsp;</span>
                            <input type="number" matInput placeholder="Mobile Number" formControlName="mobileNumber" required>
                        </mat-input-container>
                        <div *ngIf="doctorForm.controls['mobileNumber'].invalid && (doctorForm.controls['mobileNumber'].dirty || doctorForm.controls['mobileNumber'].touched || formSubmitAttempt)"
                            class="alert-danger">
                            <div *ngIf="doctorForm.controls['mobileNumber'].errors.required">
                                Mobile number is required
                            </div>
                        </div>
                    </div>
                </div>
                <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
                    <mat-input-container fxFlex="33%">
                        <input matInput placeholder="Home Phone" formControlName="phoneNumber">
                    </mat-input-container>
                </div>
                <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
                    <div fxFlex="67%"></div>
                    <div fxFlex="33%" class="text-right">
                        <a mat-raised-button (click)="goToState('/app/doctor/list')">Cancel</a>
                        <button mat-raised-button class="mat-primary" type="submit">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>