<div class="dashboard-list-component">
    <div>
        <sub-header [title]="'Dashboard'" class="float-left"></sub-header>
        <p class="clearfix"></p>
    </div>
    <div fxLayout fxLayout.xs="column" fxLayoutGap="20px">
        <div fxFlex="260px" class="blood-group-box">
            <div class="blood-group-img">
                <md-icon>invert_colors</md-icon>
            </div>
            <p class="blood-group--name">Patient Blood Groups</p>
            <ul class="list-group list-unstyle">
                <li class="list-group-item">
                    <b>O-positive</b><span>23</span>
                </li>
                <li class="list-group-item">
                    <b>O-negative</b><span>23</span>
                </li>
                <li class="list-group-item">
                    <b>A-positive</b><span>23</span>
                </li>
                <li class="list-group-item">
                    <b>A-negative</b><span>23</span>
                </li>
                <li class="list-group-item">
                    <b>B-positive</b><span>23</span>
                </li>
                <li class="list-group-item">
                    <b>B-negative</b><span>23</span>
                </li>
                <li class="list-group-item">
                    <b>AB-positive</b><span>23</span>
                </li>
                <li class="list-group-item">
                    <b>AB-negative</b><span>23</span>
                </li>
            </ul>
        </div>
        <div fxFlex="100%">
            <sub-header [title]="'Overview'"></sub-header>
            <table class="basic-table">
                <thead>
                    <th>Schema</th>
                    <th>Total</th>
                    <th>Active</th>
                    <th>Inactive</th>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="" class="atag">Doctors</a></td>
                        <td>70</td>
                        <td>30</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td><a href="" class="atag">Patients</a></td>
                        <td>70</td>
                        <td>30</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td><a href="" class="atag">Stock</a></td>
                        <td>70</td>
                        <td>30</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td><a href="" class="atag">Category</a></td>
                        <td>70</td>
                        <td>30</td>
                        <td>30</td>
                    </tr>
                </tbody>
            </table>
            <sub-header [title]="'Expired medicines'"></sub-header>
            <ul class="medicines-list">
                <li><a href="">Database configuration (0)</a></li>
                <li><a href="">Database configuration (5)</a></li>
                <li><a href="">Database configuration</a></li>
            </ul>
        </div>
        <div fxFlex="260px">
            <sub-header [title]="'Recent Activity'"></sub-header>
            <div class="activity-box">
                <div class="float-left activity-icon">
                    <md-icon>group_add</md-icon>
                </div>
                <div class="float-left">
                    <a class="atag">Karthick</a>
                    <div class="activity-description">
                        Created New Record <a class="atag">@Doctor</a>
                    </div>
                    <div class="activity-info">
                        7 hours ago
                    </div>
                </div>
                <p class="clearfix"></p>
            </div>
            <div class="activity-box">
                <div class="float-left activity-icon">
                    <md-icon>group_add</md-icon>
                </div>
                <div class="float-left">
                    <a class="atag">Karthick</a>
                    <div class="activity-description">
                        Created New Record @Doctor
                    </div>
                    <div class="activity-info">
                        7 hours ago
                    </div>
                </div>
                <p class="clearfix"></p>
            </div>
            <div class="activity-box">
                <div class="float-left activity-icon">
                    <md-icon>group_add</md-icon>
                </div>
                <div class="float-left">
                    <a class="atag">Karthick</a>
                    <div class="activity-description">
                        Created New Record @Doctor
                    </div>
                    <div class="activity-info">
                        7 hours ago
                    </div>
                </div>
                <p class="clearfix"></p>
            </div>
            <div class="activity-box">
                <div class="float-left activity-icon">
                    <md-icon>group_add</md-icon>
                </div>
                <div class="float-left">
                    <a class="atag">Karthick</a>
                    <div class="activity-description">
                        Created New Record @Doctor
                    </div>
                    <div class="activity-info">
                        7 hours ago
                    </div>
                </div>
                <p class="clearfix"></p>
            </div>
            <div class="activity-box">
                <div class="float-left activity-icon">
                    <md-icon>group_add</md-icon>
                </div>
                <div class="float-left">
                    <a class="atag">Karthick</a>
                    <div class="activity-description">
                        Created New Record @Doctor
                    </div>
                    <div class="activity-info">
                        7 hours ago
                    </div>
                </div>
                <p class="clearfix"></p>
            </div>
        </div>
    </div>
</div>