@import '~@angular/material/_theming';
@import '~@swimlane/ngx-datatable/src/themes/material';
@import '~@swimlane/ngx-datatable/assets/icons';
// Include non-theme styles for core.
@include mat-core();
// Define a theme.
$primary: mat-palette($mat-deep-purple);
$accent: mat-palette($mat-amber, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);
// Include all theme styles for the components.
@include angular-material-theme($theme);
html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

body {
  color: #172B4D;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857142857143;
  letter-spacing: -.005em;
  app {
    width: 100%;
    height: 100%;
    .mat-raised-button.mat-primary {
      background: #3f51b5;
      color: #FFFFFF;
    }
    a {
      color: #0052CC;
      text-decoration: none;
      &:hover {
        color: #0065FF;
        text-decoration: underline;
      }
    }
    .float-right {
      float: right;
    }
    .float-left {
      float: left;
    }
    .text-right {
      text-align: right;
    }
    .clearfix {
      clear: both;
    }
    .ngx-datatable.material {
      box-shadow: none;
    }
    .breadcrumb {
      padding-left: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      height: 50px;
      float: left;
      li {
        display: inline-block;
        a {
          padding-right: 15px;
        }
        p {
          position: relative;
          margin-left: 5px;
          .mat-icon {
            position: absolute;
            font-size: 15px;
            left: -20px;
            top: 4px;
          }
        }
      }
    }
    .basic-table {
      thead {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        th {
          text-align: left;
          padding: .9rem 1.2rem 0px;
          color: rgba(0, 0, 0, 0.54);
          vertical-align: bottom;
          font-size: 12px;
          font-weight: 500;
        }
      }
      tbody {
        tr {
          &:hover {
            background: #e0e0e0;
          }
          td {
            text-align: left;
            padding: .9rem 1.2rem 0px;
            vertical-align: top;
            border-top: 0;
            color: rgba(0, 0, 0, 0.87);
            transition: width 0.3s ease;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
  }
}