  @import '~@angular/material/_theming';
  @import '~@swimlane/ngx-datatable/src/themes/material';
  @import '~@swimlane/ngx-datatable/assets/icons'; // Include non-theme styles for core.
  @include mat-core(); // Define a theme.
  $primary: mat-palette($mat-deep-purple);
  $accent: mat-palette($mat-amber, A200, A100, A400);
  $theme: mat-light-theme($primary, $accent); // Include all theme styles for the components.
  @include angular-material-theme($theme);
  html,
  body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
  }
  /* Change the white to any color ;) */

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px white inset;
  }

  body {
    color: #172B4D;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857142857143;
    letter-spacing: -.005em;
    .mat-select-value,
    .mat-option {
      font-size: 14px;
    }
    .mat-menu-item {
      font-size: 14px;
      font-weight: 500;
    }
    .mat-select {
      border-bottom: 1px solid rgba(0, 0, 0, 0.42);
      margin-bottom: 1.0rem;
      &.ng-invalid {
        &.ng-touched {
          border-color: red;
        }
      }
    }
    .alert-danger {
      color: #d50000;
      min-height: 16px;
      font-size: 12px;
      margin-top: -10px;
    }
    .mat-placeholder-required {
      display: none;
    }
    .mat-input-invalid .mat-input-placeholder {
      color: rgba(0, 0, 0, 0.38);
    }
    app {
      width: 100%;
      height: 100%;
      .mat-raised-button.mat-primary {
        background: #3f51b5;
        color: #FFFFFF;
      }
      .mat-raised-button.mat-info {
        background: #2096f3;
        color: #FFFFFF;
      }
      .list-unstyle {
        li {
          list-style: none;
        }
      }
      .atag {
        color: #0052CC;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          color: #0065FF;
          text-decoration: underline;
        }
      }
      .float-right {
        float: right;
      }
      .float-left {
        float: left;
      }
      .height-100 {
        height: 100%;
      }
      .width-100 {
        width: 100%;
      }
      .text-right {
        text-align: right;
      }
      .clearfix {
        clear: both;
      }
      .mat-button,
      .mat-raised-button {
        background: #EEEEEE;
      }
      .breadcrumb {
        padding-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        height: 50px;
        float: left;
        li {
          position: relative;
          display: inline-block;
          padding-right: 5px;
          .mat-icon {
            position: absolute;
            font-size: 15px;
            top: 4px;
            right: -10px;
          }
          a {
            padding-right: 15px;
          }
        }
      }
      .ngx-datatable.material {
        box-shadow: none;
        &:not(.cell-selection) {
          .datatable-body-row:hover .datatable-row-group {
            background: none !important;
          }
          .datatable-body-row:focus .datatable-row-group {
            background: none !important;
          }
          .datatable-body-row:focus {
            background: none !important;
          }
          .datatable-body-row {
            background: none !important;
          }
          .datatable-footer {
            margin-top: 30px;
          }
          .empty-row {
            padding: 0px;
            margin-top: 20px;
          }
        }
        &.striped {
          .datatable-header {
            .datatable-header-cell {
              padding-left: 8px;
              padding-right: 8px;
            }
          }
          .datatable-body-cell {
            padding: 8px !important;
          }
          .datatable-row-odd {
            background: #f0f0f0 !important;
          }
          .datatable-footer {
            margin-top: -5px;
          }
        }
      }
      .basic-table {
        border-spacing: 0;
        border-collapse: collapse;
        width: 100%;
        thead {
          border-bottom: 1px solid #DFE1E6;
          th {
            text-align: left;
            padding: 10px;
            color: rgba(0, 0, 0, 0.54);
            vertical-align: bottom;
            font-size: 14px;
            font-weight: 500;
          }
        }
        tbody {
          tr {
            border-bottom: 1px solid #DFE1E6;
            td {
              text-align: left;
              padding: 10px;
              vertical-align: top;
              border-top: 0;
              color: rgba(0, 0, 0, 0.87);
              transition: width 0.3s ease;
              font-size: 14px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }