<div class="medicine-submenu-component">
    <a routerLink="/app/medicine/stock/list" class="submenu-header">
        <span class="icon"><md-icon>add_shopping_cart</md-icon></span>
        <span class="content">Medicine</span>
    </a>
    <ul class="list-unstyle list">
        <li class="list-group-item">
            <a routerLink="/app/medicine/stock/list" routerLinkActive="active">
                <md-icon>local_pharmacy</md-icon><span>Stock</span></a>
        </li>
        <li class="list-group-item">
            <a routerLink="/app/medicine/category/list" routerLinkActive="active">
                <md-icon>local_offer</md-icon><span>Categories</span></a>
        </li>
    </ul>
</div>