<div class="stock-list-component">
    <div>
        <sub-header [title]="'Stocks'" class="float-left"></sub-header>
        <button md-raised-button class="float-right mat-primary" routerLink="/app/medicine/stock/details/new">New Stock</button>
        <p class="clearfix"></p>
    </div>
    <div fxLayout fxLayout.xs="column" fxLayoutGap="10px" class="stock-container">
        <div fxFlex="260px">
            <medicine-submenu></medicine-submenu>
        </div>
        <div fxFlex="100%">
            <form (ngSubmit)="onSubmit()">
                <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
                    <div fxFlex="100%"></div>
                    <md-select fxFlex="120px" class="field-search" [(ngModel)]="page.size" name="pageSize" (change)="setPage({ offset: 0 })">
                        <md-option *ngFor="let list of pageSizeList" [value]="list.value">
                            {{ list.name }}
                        </md-option>
                    </md-select>
                    <md-select fxFlex="20%" class="field-search" [(ngModel)]="searchAttribute" name="searchAttribute">
                        <md-option *ngFor="let list of searchList" [value]="list.value">
                            {{ list.viewValue }}
                        </md-option>
                    </md-select>
                    <md-input-container fxFlex="20%">
                        <input type="text" mdInput [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
                        <md-icon mdSuffix>search</md-icon>
                    </md-input-container>
                </div>
            </form>
            <ngx-datatable class="material striped" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)'>
                <ngx-datatable-column name="Name">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <a class="atag" routerLink="/app/medicine/stock/details/{{row._id}}" title="{{row.name}}">
                    {{row.name}}
                </a>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Category">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.category}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Price">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.price}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Quantity">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.qty}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Company">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.company}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Edit">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <a class="atag" routerLink="/app/medicine/stock/details/{{row._id}}" title="Edit">
                            <md-icon>mode_edit</md-icon>
                        </a>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>