<div class="patient-details-component">
    <div>
        <ul class="breadcrumb">
            <li><a class="atag" routerLink="/app/patient/list">Patients</a>
                <mat-icon>chevron_right</mat-icon>
            </li>
            <li>
                <p>{{patientName}}</p>
            </li>
        </ul>
        <button mat-raised-button class="float-right mat-primary" routerLink="/app/patient/details/new">New Patient</button>
        <p class="clearfix"></p>
    </div>
    <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
        <div fxFlex="150px">
            <div class="profile-user-img">
                <mat-icon>perm_identity</mat-icon>
            </div>
            <div class="field-status">
                <p><b>Status</b></p>
                <mat-slide-toggle [(ngModel)]="patient.status">
                </mat-slide-toggle>
            </div>
        </div>
        <div fxFlex="100%">
            <form (ngSubmit)="onSubmit()">
                <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
                    <mat-input-container fxFlex="33%">
                        <input type="text" required matInput placeholder="First Name" [(ngModel)]="patient.name.first" name="first">
                    </mat-input-container>
                    <mat-input-container fxFlex="33%">
                        <input matInput placeholder="Middle Name" [(ngModel)]="patient.name.middle" name="middle">
                    </mat-input-container>
                    <mat-input-container fxFlex="33%">
                        <input matInput placeholder="Last Name" [(ngModel)]="patient.name.last" name="last">
                    </mat-input-container>
                </div>
                <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
                    <mat-form-field fxFlex="33%">
                        <input matInput [matDatepicker]="picker" placeholder="Date Of Birth" [(ngModel)]="patient.dob" name="dob">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field fxFlex="33%">
                        <mat-select placeholder="Gender" class="field-select" [(ngModel)]="patient.gender" name="gender">
                            <mat-option *ngFor="let gender of genderList" [value]="gender.value">
                                {{ gender.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex="33%">
                        <mat-select placeholder="Blood Group" class="field-select" [(ngModel)]="patient.bloodGroup" name="bloodGroup">
                            <mat-option *ngFor="let blodGroup of bloodGroupsList" [value]="blodGroup.value">
                                {{ blodGroup.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
                    <mat-input-container fxFlex="33%">
                        <input matInput placeholder="Address Line 1" [(ngModel)]="patient.address.address1" name="address1">
                    </mat-input-container>
                    <mat-input-container fxFlex="33%">
                        <input matInput placeholder="Address Line 2" [(ngModel)]="patient.address.address2" name="address2">
                    </mat-input-container>
                    <mat-input-container fxFlex="33%">
                        <input matInput placeholder="City" [(ngModel)]="patient.address.city" name="city">
                    </mat-input-container>
                </div>
                <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
                    <mat-input-container fxFlex="33%">
                        <input matInput placeholder="State" [(ngModel)]="patient.address.state" name="state">
                    </mat-input-container>
                    <mat-input-container fxFlex="33%">
                        <input matInput placeholder="Zip Code" [(ngModel)]="patient.address.pincode" name="pincode">
                    </mat-input-container>
                    <mat-input-container fxFlex="33%">
                        <span matPrefix>+91 &nbsp;</span>
                        <input matInput placeholder="Mobile Number" [(ngModel)]="patient.mobileNumber" name="mobileNumber">
                    </mat-input-container>
                </div>
                <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
                    <mat-input-container fxFlex="33%">
                        <input matInput placeholder="Home Phone" [(ngModel)]="patient.phoneNumber" name="phoneNumber">
                    </mat-input-container>
                </div>
                <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
                    <div fxFlex="67%"></div>
                    <div fxFlex="33%" class="text-right">
                        <a mat-raised-button routerLink="/app/patient/list">Cancel</a>
                        <button mat-raised-button class="mat-primary" type="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>