<div class="patient-details-component">
    <div>
        <ul class="breadcrumb">
            <li><a class="atag" routerLink="/patient/list">Patients</a><md-icon>chevron_right</md-icon></li>
            <li>
                <p>{{patientName}}</p>
            </li>
        </ul>
        <button md-raised-button class="float-right mat-primary" routerLink="/patient/details/new">New Patient</button>
        <p class="clearfix"></p>
    </div>
    <form (ngSubmit)="onSubmit()">
        <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
            <md-input-container fxFlex="33%">
                <input type="text" required mdInput placeholder="First Name" [(ngModel)]="patient.name.first" name="first">
            </md-input-container>
            <md-input-container fxFlex="33%">
                <input mdInput placeholder="Middle Name" [(ngModel)]="patient.name.middle" name="middle">
            </md-input-container>
            <md-input-container fxFlex="33%">
                <input mdInput placeholder="Last Name" [(ngModel)]="patient.name.last" name="last">
            </md-input-container>
        </div>
        <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
            <div fxFlex="33%">
                <md-input-container fxFlex="100%">
                    <input mdInput [mdDatepicker]="picker" placeholder="Date Of Birth" [(ngModel)]="patient.dob" name="dob">
                    <button mdSuffix [mdDatepickerToggle]="picker"></button>
                </md-input-container>
                <md-datepicker #picker></md-datepicker>
            </div>
            <md-select placeholder="Gender" fxFlex="33%" class="field-gender" [(ngModel)]="patient.gender" name="gender">
                <md-option *ngFor="let gender of genderList" [value]="gender.value">
                    {{ gender.viewValue }}
                </md-option>
            </md-select>
            <md-input-container fxFlex="33%">
                <input mdInput placeholder="Blood Group" [(ngModel)]="patient.bloodGroup" name="bloodGroup">
            </md-input-container>
        </div>
        <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
            <md-input-container fxFlex="33%">
                <input mdInput placeholder="Address Line 1" [(ngModel)]="patient.address.address1" name="address1">
            </md-input-container>
            <md-input-container fxFlex="33%">
                <input mdInput placeholder="Address Line 2" [(ngModel)]="patient.address.address2" name="address2">
            </md-input-container>
            <md-input-container fxFlex="33%">
                <input mdInput placeholder="City" [(ngModel)]="patient.address.city" name="city">
            </md-input-container>
        </div>
        <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
            <md-input-container fxFlex="33%">
                <input mdInput placeholder="State" [(ngModel)]="patient.address.state" name="state">
            </md-input-container>
            <md-input-container fxFlex="33%">
                <input mdInput placeholder="Zip Code" [(ngModel)]="patient.address.pincode" name="pincode">
            </md-input-container>
            <md-input-container fxFlex="33%">
                <span mdPrefix>+91 &nbsp;</span>
                <input mdInput placeholder="Mobile Number" [(ngModel)]="patient.mobileNumber" name="mobileNumber">
            </md-input-container>
        </div>
        <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
            <md-input-container fxFlex="33%">
                <input mdInput placeholder="Home Phone" [(ngModel)]="patient.phoneNumber" name="phoneNumber">
            </md-input-container>
        </div>
        <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
            <div fxFlex="67%"></div>
            <div fxFlex="33%" class="text-right">
                <a md-raised-button routerLink="/patient/list">Cancel</a>
                <button md-raised-button class="mat-primary" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>